.center {
    width: 800px;
    margin: 0 auto;
}
.instructions h1 {
    text-align: center;
}
.instructions h4 {
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.instructions h4 span {
    display: inline-block;
    width: 1.3rem;
}

.instructions ol {
    display: none;
}

.form-group {
    padding: 5px 0;
}

.form-group input + label {
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.form-group input[type="text"] {
    width: 300px;
}

.form-group--array {
    display: none;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 700px;
    margin: 20px auto 20px auto;
}
.buttons__generate,
.buttons__sort,
.buttons__pause,
.buttons__resume,
.buttons__stop {
    padding: 15px 0;
    width: 300px;
    background-color: #45b445;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    font-weight: 200;
    font-family: 'Trebuchet MS', sans-serif;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.buttons__sort,
.buttons__stop {
    background-color: rgba(255, 85, 78, 1);
}

.buttons__pause {
    background-color: #ffd824;
}


.buttons__pause,
.buttons__resume,
.buttons__stop {
    width: 200px;
    font-size: 1em;
}
.bubbles {
    position: relative;
    height: 70px;
    margin: 60px auto;
}
.bubbles p {
    text-align: center;
    margin:0;
    font-size: 1.3em;
}
.bubble {
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 1.3em;
    font-weight: 200;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-collapse: collapse;

    border-radius: 50%;
    background: #5a99d4;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 119, 127, .5);
    box-shadow: 0 0 0 0 rgba(255, 119, 127, .5);
    cursor: default;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

}
.bubble-current {
    -webkit-animation: pulse 1.5s infinite;
    animation: pulse 1.5s infinite;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
@keyframes pulse {
    0% {
    @include transform(scale(.9));
    }
    70% {
    @include transform(scale(1));
        -webkit-box-shadow: 0 0 0 25px rgba(255, 119, 127, 0);
        box-shadow: 0 0 0 25px rgba(255, 119, 127, 0);
    }
    100% {
    @include transform(scale(.9));
        -webkit-box-shadow: 0 0 0 0 rgba(255, 119, 127, 0);
        box-shadow: 0 0 0 0 rgba(255, 119, 127, 0);
    }
}